<!DOCTYPE html>
<html>
<head>
	<title>UWaterloo Restaurant Menus</title>
	<meta charset = "utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="Mustaqeem Khowaja">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="../public/img/favicon.ico">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Custom styles -->
	<link rel="stylesheet" href="../public/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="../public/js/core.js"></script>

</head>
<body ng-controller="mainController">
	<div class="container-fluid">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-header">
				<p class="navbar-brand">UWaterloo Restaurant Menus</p>
			</div>
		</nav>	
	</div>

	<div class="container" ng-app="menu">
		<div class="accordion" id="accordion2" ng-controller="mainController">
			<div class="accordion-group">
    			<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">{{ menuItem.outlet_name }}</a>
				</div>
				<div id="collapseOne" class="accordion-body collapse">
					<div class="accordion-inner">
        Anim pariatur cliche...
    				</div>
    			</div>
    		</div>
<!--
    		<div class="accordion-group">
    			<div class="accordion-heading">
    				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Collapsible Group Item #2</a>
    			</div>
    			<div id="collapseTwo" class="accordion-body collapse">
    				<div class="accordion-inner">Anim pariatur cliche...</div>
    			</div>
    		</div>
-->
    	</div>
    </div>
	
	<script src="http://code.jquery.com/jquery.js"></script>
	<!-- Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>