body {
  padding-top: 70px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-default{
    color: white;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-inverse{
	background-color: #941010;
	border-color: #941010;
}

.navbar-header{
	float: left;
	text-align: center;
	width: 100%;
}

.navbar-brand {
	margin: auto;
	float: none;
	width: 100%;
}

.navbar-text {
    float: none;
    font-size: 1.5em;
    font-color: white;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
	margin-left: auto;
	margin-right: auto;
}

.navbar-inverse .navbar-brand {
	color: #FFFFFF;
}

#accordion .glyphicon {
    margin-right: 10px;
}
.panel-collapse > .list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.panel-collapse > .list-group .list-group-item {
    border-width: 1px 0;
}
.panel-collapse > .list-group {
    margin-bottom: 0;
}
.panel-collapse .list-group-item {
    border-radius: 0;
}
.panel-collapse .list-group .list-group {
    margin: 0;
    margin-top: 10px;
}
.panel-collapse .list-group-item li.list-group-item {
    margin: 0 -15px;
    border-top: 1px solid #ddd;
    border-bottom: 0;
    padding-left: 30px;
}
.panel-collapse .list-group-item li.list-group-item:last-child {
    padding-bottom: 0;
}
.panel-collapse div.list-group div.list-group {
    margin: 0;
}
.panel-collapse div.list-group .list-group a.list-group-item {
    border-top: 1px solid #ddd;
    border-bottom: 0;
    padding-left: 30px;
}

.panel-heading {
    cursor: pointer;
}

.btn {
    white-space:normal !important;
    text-align: left;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}